Options -MultiViews

RewriteEngine On
RewriteBase /jvstudio/

Header set X-Robots-Tag "noindex, nofollow"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jvstudio/index.html [L]
